* {
  margin: 0;
  padding: 0;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;;
}

body {
  background: #D8D6D6;
  /* font-family: "Trebuchet MS" Verdana, Arial, Helvetica, sans-serif; */
  font-size: 12.5px;
  line-height: 17px;
}

.highlight {
  margin-right: 20px;
  margin-bottom: 7px;
  margin-top: 5px;
}

#main {
  background: #F9DFAE;
  box-shadow: 10px 10px 20px 10px #131b26;
}

#main pre {
  background-color: #F9EACC;
  border: 1px solid #888888;
  font-size: 90%;
  margin-bottom: 0pt;
}

#header {
  background: #224395;
  margin-left: 0px;
  color: #eeeeee;
}

#header h1, h3 {
  padding-left: 10px;
}

#menu {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #ffffff;
  background-image: url("/images/menu-background.gif");
}

#menu a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
}

#menu a:hover {
  text-decoration: underline;
}

#content p {
  margin-right: 10px;
  margin-bottom: 7px;
}

#content h1 {
  font-size: 19pt;
  margin-top: 20px;
  margin-bottom: 15px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

#content h2 {
  font-size: 15pt;
  margin-bottom: 10px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

#content a:link {
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline overline;
}

#content a:visited {
  color: #bb0000;
}
